#header {
    width: 100%;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    column-gap: 5px;
}

#header > button {
    flex-grow: 1;
}

#reset-btn {
    border-color: rgb(224, 71, 71);
    background-color: rgb(224, 71, 71);
}

#reset-btn:hover {
    background-color: #FFF;
    border-color: rgb(224, 71, 71);
    color: rgb(224, 71, 71);
}