.card {
    padding: 10px;
    position: relative;
    user-select: none;
}

.card-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
}

.card:hover > .card-overlay {
    opacity: 1;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover > img {
    filter: opacity(50%) drop-shadow(0 0 1px #000);
}

#background {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

button {
    background-color: #555;
    border: none;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 2px solid #555;
    border-radius: 10px;
    user-select: none;
}

button:hover {
    background-color: #FFF; /* Green */
    color: #555;
}
